/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
*/
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: relative;
    min-height: 100%;
}
*/
html, body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    display: block;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}*/

/* #msg { */
/* font-family: monospace; */
/* } */

/*.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

    .btn:focus {
        outline-style: none;
    }*/

main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#Root, #Actions, #Interface {
    display: block;
    margin: 0px;
    padding: 5px;
    float: left;
    height: 100%;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: grey;
    overflow: auto;
}

#Root {
    clear: left;
    width: 30%;
}

#Actions {
    width: 25%;
}

#Interface {
    width: calc(45% - 32px);
    border-width: 0;
}

/* Remove default bullets */
ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
/*#Root {
    margin: 0;
    padding: 0;
}*/

.Characteristic {
    cursor: pointer;
}

.Clickable {
    cursor: pointer;
}



.hub {
}

.Action {
    width: auto;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 1px;
    background-color: lavender;
}


/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }


td, th {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    margin:0;
    text-align:center;
    padding:2px;
    vertical-align:central;
}

table {
    margin: 2px;
}




/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
